<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="internalOnly" package="com.upb.calendar" android:versionCode="1" android:versionName="1.0.0">
  <uses-sdk android:targetSdkVersion="16" />
  <application android:label="UPBCalendar">
  </application>
</manifest>